/* Add here all your CSS customizations */

body {
 background-color: #FFF;
 color: #777;
 font-family: 'Cairo', sans-serif;
 /*font-family: 'Tajawal', sans-serif;*/
 font-size: 14px;
 line-height: 22px;
 margin: 0;
}
.no-margins{
 margin: 0px !important;
}
.img-main{
 height: 250px !important;
}

#header .header-logo {
 float: right;
}

.transparent-disabled {
 background-color: transparent !important;
 border: 0;
 border-bottom: 1px solid #DDD;
 border-radius: 0;
 box-shadow: 0 0 0;
}

html .btn-primary:hover, html .btn-primary:focus, html .btn-primary:active:hover, html .btn-primary:active:focus {
 color: #FFF;
}

.shop table.cart {
 text-align: right;
}

.shop .quantity .minus {
 left: 0;
}