<template>
    <div class="box collapsed-box">

        <div class="box-header with-border">
            <h3 class="box-title">Filter</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="box-body" style="display: none;">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="hidden" id="date-from" name="date-from">
                        <input type="hidden" id="date-to" name="date-to">
                        <div class="#form-control">
                            <button type="button" class="btn btn-default" id="daterange-btn">
                    <span>
                      <i class="fa fa-calendar"></i> Date range picker
                    </span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6"></div>
                <div class="col-md-2 text-right">
                    <button style="margin-top: 40px;" id="filterIt" class="btn btn-block btn-success">Filter</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {

        methods: {
            getModels(brand_id) {

                this.brand_id = brand_id;

                axios.post(`${config.admin_url}/ads/models/${brand_id}`)
                    .then( response => {

                        if ( response.status === 200 && response.data ) {

                            const data = response.data;
                            this.models = data.data;

                        } else {
                            console.log( 'ERROR' );
                        }

                    } )
                    .catch( err => {
                        console.log( err );
                    })

            },
        },

        data() {
            return {
                status: 0,
            }
        },
        
        mounted() {

            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges   : {
                        'Today'       : [moment(), moment()],
                        'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                        'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate  : moment()
                },
                function (start, end) {
                    $('#date-from').val( start.format('MMMM D, YYYY') )
                    $('#date-to').val( end.format('MMMM D, YYYY') )
                    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

        }
    }
</script>
