
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

.dataTables_paginate, .dataTables_filter {
  text-align: right;
}

.select2-container .select2-selection--single {
  height: auto !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 0 !important;
  border-color: #d2d6de !important;
}



.tile__list {
  .item {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  img {
    border: 1px solid #000;
    margin: 3px;
    /*margin: 10px;*/
    /*border-radius: 100%;*/
  }
  .controllers {
    display: none;
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    transition: all 1s ease;
    //overflow: hidden;

  }
  i {
    font-size: 18px;
    display: none;
  }
  .delete {
    position: absolute;
    top: 7px;
    right: 40px;
    color: red;
  }
  .handle {
    color: green;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: move;
  }
  .item:hover {
    background: #000;
    .controllers {
      display: block;
    }
    i {
      display: block;
    }
  }
}